.FormTable {
background: #9AAB3C;
font-family:Verdana;
font-size:13px;
color:white;
align:center;

}

.links a{
width:300px;
font-family:Verdana;
font-size:14px;
color:#13801C;
align:center;

}

.heading {
font-family:Verdana;
font-size:14px;
color:#9E5A70;

}